#fundo{
    height: 50vw;
}

#mascara{
    position: absolute;
    left: 60vw;
    top: 3vw;
    width: 10vw;
}

#virus{
    position: absolute;
    left: 8vw;
    top: 80px;
    width: 10vw;
}

#btnEsquerda{
    background-color: #00bfff;
    position: absolute;
    left: 6vw;
    top: 620px;
    height: 2vw;
    width: 10vw;
}

#btnDireita{
    background-color: #00bfff;
    position: absolute;
    left: 6vw;
    top: 580px;
    height: 2vw;
    width: 10vw;
}